<h1><%= question_header %></h1>
<div>
  <%= render 'shared/errors', resource: @question %>
</div>
<%= form_with model: [@test, @question] do |form| %>
  <div class="form_field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
    
  <%= form.submit %>
<% end %>
