<h1><%= @test_passage.test.title %></h1>

<div class="progress">
  <%= content_tag :div, '', class: 'progress-bar', data: { progress: @test_passage.progress } %>
</div>

<%= content_tag :div,
                '',
                id: 'timer',
                data: { time_left: @test_passage.time_left,
                        time_limit: @test_passage.test.timer } if @test_passage.test.timer %>

<figure>
  <blockquote class="blockquote">
    <p><%= @test_passage.current_question.body %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    (<%= @test_passage.current_question.position %> из
    <%= @test_passage.test.questions.count %>)
  </figcaption>
</figure>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids,
                                  @test_passage.current_question.answers,
                                  :id,
                                  :body,
                                  include_hidden: false do |b| %>
    <p>
      <%= b.check_box class: 'btn-check' %>
      <%= b.label class: 'btn btn-outline-secondary' %>
    </p>
  <% end %>

  
  <%= form.submit class: 'btn btn-primary', id: 'submit_btn' %>
  
<% end %>

<%= button_to 'Gist question', gists_test_passage_path(@test_passage), method: :post, class: 'btn btn-secondary mt-2' %>

