<%= render 'shared/errors', resource: @answer %>
<%= form_with model: [:admin, @question, @answer] do |form| %>
  <div class="form_field">
    <%= form.label :body %><br>
    <%= form.text_area :body, rows: 5 %><br>
  </div>

  <div class="form_field">
    <%= form.label :correct %>
    <%= form.check_box :correct %><br>
  </div>

  <%= form.submit %>
<% end %>
