<div class="col mt-3">
  <div class="card bg-light">
    <div class="card-body">
      <h5><%= link_to test.title, admin_test_path(test), class: "card-title", data: { test_id: test.id} %></h5>
      <%= render 'form_inline', test: test == @test ? @test : test %>
      <h6 class="card-subtitle mb-2 text-muted"><%= "#{test.category.title} (level: #{test.level})" %></h6>

      <div class="list-group list-group-horizontal">
        <%= link_to t('edit'),
                    edit_admin_test_path(test),
                    data: { test_id: test.id },
                    class: 'list-group-item bg-secondary text-white form-inline-link' %>
        <%= link_to t('delete'),
                    admin_test_path(test),
                    method: :delete,
                    class: 'list-group-item bg-danger text-white' %>
      </div>
    </div>
  </div>
</div>
