<h1> <%= @test.title %> </h1>
<h2><%= t('.questions_count', count: @test.questions.count) %></h2>

<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>

<ul>
  <%= render @test.questions %>
</ul>

<%= link_to t('back'), admin_tests_path %>
