<h1><%= t('.header', count: @tests.count) %></h1>
<div class="btn-group mt-1">
  <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t('.sorting') %>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item pointer" id="titleSorting">
      Title
      <%= octicon 'arrow-up', class: 'text-secondary hide' %>
      <%= octicon 'arrow-down', class: 'text-secondary hide' %>
    </li>
    <li class="dropdown-item pointer" id="categorySorting">
      Category
      <%= octicon 'arrow-up', class: 'text-secondary hide' %>
      <%= octicon 'arrow-down', class: 'text-secondary hide' %>
    </li>
  </ul>
</div>

<div class="row row-cols-3 mt-3">
  <%= render @tests %>
</div>
