<% author = 'Ilya Palaguto' %>
<% repo = 'Test-app' %>
<div style="margin-top: 45px;
            border-top: 1px solid gray;">
  <small style="text-align: center;">
    <p>
      Devoloped by <a href=<%= github_url(author) %> target="_blank" rel="nofollow, noopener"><%= author %></a>
    </p>
    <p><%= current_year %></p>
    <p><a href=<%= github_url(author, repo) %> target="_blank" rel="nofollow, noopener"><%= repo %></a></p>
    <p>
      Учебный проект в онлайн-школе 
      <a href="https://thinknetica.com/" target="_blank" rel="nofollow, noopener">Thinknetica</a>
    </p>
  </small>
</div>